* {
    margin: 8px auto;
    padding: 8px;
    box-sizing: border-box;
    width: 100%;
    max-width: 640px;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

input,textarea,button{
    display: block;
}

.form-campo textarea{
    resize: none;
}